@import "font.css";

:root {
  --font-weight-normal: 400;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  --font-size-xsmall: 12px;
  --font-size-small: 16px;
  --font-size-medium: 24px;
  --font-size-large: 32px;
  --font-size-xlarge: 40px;

  --font-family-main: "Unbounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-family-secondary: "OpenSans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.pageTitle {
  font-family: var(--font-family-main);
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semiBold);
  line-height: 1.5em;
  margin: 0;
}
