@use "./variables" as *

body
  background: $background-color, $background-gradient
  font-family: $font-family-main
  font-weight: $font-weight-regular
  line-height: 1.5em
  margin: 0

.primaryFontColor
    color: $color-black

.secondaryFontColor
    color: $color-font